<!DOCTYPE html>
<html lang="pt-br">
<head>
  <!-- Meta Tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/public/css/bootstrap.min.css" />

  <!-- Style -->
  <link rel="stylesheet" href="/public/css/navbar.css" />
</head>

<body>
  <aside class="sidebar">
    <div class="toggle">
      <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span></span>
      </a>
    </div>
    <div class="side-inner">
      <div class="logo-wrap">
        <div class="logo">
          <img src="/public/img/logo.png">
          </div>
        <div class="nav-menu side-menu">
          <ul>
            <li>
              <a href="index.html" class="d-flex align-items-center">
                <span class="wrap-icon fa fa-home ml-auto p-2"></span>
                <span class="menu-text">Pagina Inicial</span></a
              > <!-- CLOSE -->
            </li>
            <li>
              <a href="" class="d-flex align-items-center">
                <span class="wrap-icon fa fa-heartbeat ml-auto p-2"></span>
                <span class="menu-text">Usuário</span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a
                    href="#"
                    onclick="(window.location='/html/usuarios/user.html')"
                    class="d-flex align-items-sm-center sub"
                  > <!-- CLOSE -->
                    <span class="wrap-icon fa fa-home p-4"></span>
                    <span class="menu-text p-4">Cadastro</span>
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    onclick="(window.location='/html/usuarios/login.html')"
                    class="d-flex align-items-sm-center sub"
                  > <!-- CLOSE -->
                    <span class="wrap-icon fa fa-home p-4"></span>
                    <span class="menu-text p-4">Login</span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="" class="d-flex align-items-center">
                <span class="wrap-icon bi bi-building ml-auto p-2"></span>
                <span class="menu-text">Organização</span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a
                    href="#"
                    onclick="(window.location='/html/cadastrar/organization.html')"
                    class="d-flex align-items-sm-center sub"
                  > <!-- CLOSE -->
                    <span class="wrap-icon bi bi-building ml-auto p-2"></span>
                    <span class="menu-text p-4">Cadastro de Organização</span>
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    onclick="(window.location='/html/listar/organization.html')"
                    class="d-flex align-items-sm-center sub"
                  > <!-- CLOSE -->
                    <span class="wrap-icon bi bi-building ml-auto p-2"></span>
                    <span class="menu-text p-4">Lista Organização</span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="" class="d-flex align-items-center">
                <span class="wrap-icon fa fa-heartbeat ml-auto p-2"></span>
                <span class="menu-text">Especialidade</span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a
                    href="#"
                    onclick="(window.location='/html/cadastrar/speciality.html')"
                    class="d-flex align-items-sm-center sub"
                  > <!-- CLOSE -->
                    <span class="wrap-icon fa fa-home p-4"></span>
                    <span class="menu-text p-4">Cadastro de Especialidade</span>
                  </a>
                  <a
                    href="#"
                    onclick="(window.location='/html/cadastrar/assisted.html')"
                    class="d-flex align-items-sm-center sub"
                  > <!-- CLOSE -->
                    <span class="wrap-icon fa fa-home p-4"></span>
                    <span class="menu-text p-4">Cadastro de Atendido</span>
                  </a>
                  <a
                    href="#"
                    onclick="(window.location='/html/cadastrar/professionalAttendance.html')"
                    class="d-flex align-items-sm-center sub"
                  > <!-- CLOSE -->
                    <span class="wrap-icon fa fa-home p-4"></span>
                    <span class="menu-text p-4">Atendimento Profissional</span>
                  </a>
                  <a
                    href="#"
                    onclick="(window.location='/html/cadastrar/needSpeciality.html')"
                    class="d-flex align-items-sm-center sub"
                  > <!-- CLOSE -->
                    <span class="wrap-icon fa fa-home p-4"></span>
                    <span class="menu-text p-4">need_speciality</span>
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    onclick="(window.location='/html/cadastrar/specialities.html')"
                    class="d-flex align-items-sm-center sub"
                  > <!-- CLOSE -->
                    <span class="wrap-icon fa fa-home p-4"></span>
                    <span class="menu-text p-4">Cadastro de Especialista</span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="" class="d-flex align-items-center">
                <span class="wrap-icon fa fa-heartbeat ml-auto p-2"></span>
                <span class="menu-text">Paciente</span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a
                  href="#"
                  onclick="(window.location='/html/cadastrar/related.html')"
                  class="d-flex align-items-sm-center sub"
                > <!-- CLOSE -->
                  <span class="wrap-icon fa fa-home p-4"></span>
                  <span class="menu-text p-4">Cadastro de Familiar</span>
                </a>
                <a
                  href="#"
                  onclick="(window.location='/html/cadastrar/schoolRequest.html')"
                  class="d-flex align-items-sm-center sub"
                > <!-- CLOSE -->
                  <span class="wrap-icon fa fa-home p-4"></span>
                  <span class="menu-text p-4">Solicitação Escolar</span>
                </a>
                <a
                  href="#"
                  onclick="(window.location='/html/cadastrar/transportRequest.html')"
                  class="d-flex align-items-sm-center sub"
                > <!-- CLOSE -->
                  <span class="wrap-icon fa fa-home p-4"></span>
                  <span class="menu-text p-4">Solicitação de Transporte</span>
                </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="" class="d-flex align-items-center">
                <span class="wrap-icon fa fa-heartbeat ml-auto p-2"></span>
                <span class="menu-text">Evolução</span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a
                    href="#"
                    onclick="(window.location='/html/cadastrar/evolutionRecord.html')"
                    class="d-flex align-items-sm-center sub"
                  > <!-- CLOSE -->
                    <span class="wrap-icon fa fa-home p-4"></span>
                    <span class="menu-text p-4">Registro da Evolução</span>
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="" class="d-flex align-items-center">
                <span class="wrap-icon fa fa-heartbeat ml-auto p-2"></span>
                <span class="menu-text">Configurações</span>
              </a>
              <ul class="sub-menu">
                <li>
                  <a
                    href="#"
                    onclick="(window.location='config.html')"
                    class="d-flex align-items-sm-center sub"
                  > <!-- CLOSE -->
                    <span class="wrap-icon fa fa-home p-4"></span>
                    <span class="menu-text p-4">Configurações</span>
                  </a>
                </li>
              </ul>
            </li>
        </ul>
      </div>
    </div>
  </aside>
  <!-- burger -->
  <main>
  </main>
  <!-- JS -->
    <script src="/public/js/main.js"></script>
</body>

</html>