<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Style -->
    <link rel="stylesheet" href="../../public/css/searchbar.css" />
    <!-- JS -->
    <script type="Module" src="../../public/js/searchEvo.js"></script>
  </head>
  <body >
    <!--PRECISA setar autocomplete off:-->
    <form autocomplete="off" action="#">
      <div class="container">
        <div class="row ">
        <div class="autocomplete">
          <input  class="col"
            id="searchEvo"
            type="text"
            name="searchEvo"
            placeholder="Nome Completo"
          />
        </div>
      </div>
    </form>
  </body>
</html>
