<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->

    <!-- Style -->
    <link rel="stylesheet" href="/frontend/public/css/searchbar.css" />
  </head>

  <body>
    <!--PRECISA setar autocomplete off:-->
    <form autocomplete="off" action="#">
      <div class="container">
        <div class="row ">
        <div class="autocomplete">
          <input  class="col"
            id="searchAssisted"
            type="text"
            name="name"
            placeholder="Nome Completo"
          />
        </div>
      </div>
    </form>

    <!-- JS -->
    <script src="/frontend/public/js/searchAssisted.js"></script>
  </body>
</html>
