:root {
  --verde-escuro: color: #3c98a5;
  --verde-claro: color: #a5d6db;
  --laranja: color: #f4b05f;
}

/* ---------------------------------------------------
    ESTILOS GERAIS
----------------------------------------------------- */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #EFEFEF;
}

p {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #b3b3b3;
}

.ml-1 {
    margin-left: 10px;
}

.ml-2 {
    margin-left: 15px;
}

.titulo {
  text-align: center;
}

table, th {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

table, td {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
/* img {
    display: block;
    max-width: 100%;
  } */

/* ---------------------------------------------------
    ESTILO #SIDEBAR 
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 80px;
  max-width: 80px;
  background: transparent;
  /* color: transparent; */
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: 180px;
}

/* ---------------------------------------------------
    ESTILO #CONTENT 
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 10px;
  padding-top: 50px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    LOGIN   
----------------------------------------------------- */

#user {
    background-color: #a5d6db;
    color: #000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 18px;
}

#pass {
    background-color: #a5d6db;
    color: #000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 18px;
}

#login-card {
  height: 400px;
  width: 350px;
  margin-left: -100px;
  margin-top: -100px; 
  position: absolute;
  top: 35%;
  left: 44%;
}

.card {
    box-shadow: inset 0 0 1em rgba(158, 158, 158, 0.274), 0 0 1em rgba(0, 0, 0, 0.26);
}

span.input-group-addon {
    background-color: #3c98a5;
    padding-left: 11px;
    width: 40px;
    height: 34px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

i.fa.fa-user.fa-2x {
    color: #fff;
    font-size: 2.2rem;
}

i.fa.fa-lock.fa-2x {
    color: #fff;
    font-size: 2.2rem;
}

/* ---------------------------------------------------
    CADASTRO DE USUARIO   
----------------------------------------------------- */

select.form-control {
  background-color: rgb(226, 226, 226);
  border: 1px solid #EFEFEF;
  height: 65%;
}
select, .dropdown-toggle {
  background-color: rgb(226, 226, 226);
  border: 1px solid #EFEFEF;
  height: 65%;
}

div.card-body, div {
  margin-bottom: 10px;
}

#admin_role {
  height: 85%;
  width: 100%;
}

#user_role {
  height: 85%;
  width: 100%;
}

/* ---------------------------------------------------
    CADASTRO DE ESPECIALIDADE
----------------------------------------------------- */

select, #name {
  background-color: #F1F1F1;
  color: #767676;
  border: 1px solid #EFEFEF;
  padding-left: 10px;
  font-weight: normal;
}

/* ---------------------------------------------------
    LISTA DE ESPECIALIDADE   
----------------------------------------------------- */

table, #specialityTable {
  background-color: red;

}
table, th {
  font-size: 1.75vw;
  text-align: center;
}

table, td {
  font-size: 2vw;
  font-weight: 350;
  text-align: center;
}
table, tr:nth-child(odd) {
  background-color: #F1F1F1;
}
table, tr:nth-child(even) {
  background-color: #F8F8F8;
}

/* ---------------------------------------------------
    CADASTRO DE ESPECIALISTA   
----------------------------------------------------- */

select, #selectSpeciality {
  background-color: #F1F1F1;
  color: #767676;
  border: 1px solid #EFEFEF;
  font-size: 2.5vw;
  height: 5vw;
  width: 90%;
  padding-left: 10px;
  font-weight: normal;
}


/* ---------------------------------------------------
    CADASTRO DE ATENDIMENTO   
----------------------------------------------------- */

.linha {
  display: flex;
  align-items: center;
}

.linha hr {
  flex:1;
  margin-bottom: 1.90em;
  margin-right: 20px;
}

.linha p i {
  font-size: 28px; 
  color: #3c98a5;
}

button.add_form_field {
  border: 0 !important;
  background-color: transparent;
  padding: 0 !important;
}

.delete {
  color: #000;
}


/* ---------------------------------------------------
    FORMULÁRIO
----------------------------------------------------- */

input.form-control {
  background-color: #F8F8F8;
  border: 1px solid #EFEFEF;
}

.card-body {
  padding: 1rem 1rem !important;
}

.btn-danger {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .085rem;
    font-size: 12px;
}

.btn-success {
    background-color: #3c98a5 !important;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .085rem;
    font-size: 12px;
}

.btn-success:hover {
    background-color: #FFF !important;
    color: black !important;
    border: 0 solid #FFF ;
}

.card > hr {
    margin-right: 35px !important;
    margin-left: 35px !important;
}

/* ---------------------------------------------------
    FORMULÁRIO TELA CADASTRO
----------------------------------------------------- */

textarea.form-control {
  background-color: #F8F8F8;
  border: 1px solid #EFEFEF;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (min-width: 991px){
  i.bi.bi-trash::before {
    font-size: 20px !important;
    margin-left: 5px;
  }
  i.bi.bi-pencil-square::before {
    font-size: 20px !important;
    margin-left: 5px;
  }
}

@media (min-width: 768px) {
    #sidebar {
      margin-left: -250px;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #sidebarCollapse span {
      display: none;
    }
    div.card.col-12 {
        width: auto;
    }
    .btn-danger {
      font-size:  3vh;
    }
    .btn-success {
      font-size:  2vh;
    }
    i.bi.bi-trash::before {
      font-size: 20px !important;
    }
    i.bi.bi-pencil-square::before {
      font-size: 20px !important;
    }
  }

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
  .btn-danger {
    font-size:  2vh;
  }
  .btn-success {
    font-size:  2vh;
  }
}

@media (min-width: 768px) {
  #sidebar {
    margin-left: 0px;
  }
  #sidebar.active {
    margin-left: 180px;
  }
  #sidebarCollapse span {
    display: none;
  }
  .btn-danger {
    font-size:  3vh ;
  }
  .btn-success {
    font-size:  3vh ;
  }
}

@media (min-width: 425px) {
  #sidebar {
    margin-left: 0px;
  }
  #sidebar.active {
    margin-left: 180px;
  }
  #sidebarCollapse span {
    display: none;
  }
  span.wrap-icon.fa.fa-home.p-4 {
    padding: 0 ;
  }
  span.menu-text.p-4 {
    padding: 0 ;
    height: 30px ;
  }
  .btn-danger {
    font-size:  2.5vw ;
  }
  .btn-success {
    font-size:  2vw ;
  }
  i.bi.bi-trash::before {
    font-size: 12px ;
    margin-right: 100px ;
  }
  i.bi.bi-pencil-square::before {
    font-size: 12px ;
    margin-right: 10px ;
  }
}

@media (max-width: 425px) {
  #sidebar {
    margin-left: 0px;
  }
  #sidebar.active {
    margin-left: 180px;
  }
  #sidebarCollapse span {
    display: none;
  }
  span.wrap-icon.fa.fa-home.p-4 {
    padding: 0 ;
  }
  span.menu-text.p-4 {
    padding: 0 ;
    height: 30px ;
  }
  .btn-danger {
    font-size:  2vw ;
  }
  .btn-success {
    font-size:  2vw ;
  }
  i.bi.bi-trash::before {
    font-size: 12px ;
    margin-right: 100px ;
  }
  i.bi.bi-pencil-square::before {
    font-size: 12px ;
    margin-right: 10px ;
  }
}

@media (min-width: 320px) {
  #sidebar {
    margin-left: 0px;
  }
  #sidebar.active {
    margin-left: 180px;
  }
  #sidebarCollapse span {
    display: none;
  }
  aside {
    height: 100% ;
  }
 
}

